In [49]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer

Loading the spaceship dataset

In [50]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")


test_df["Transported"] = False
print(test_df.head(10))
print("###################################")
print(train_df.head(10))



spaceship_df = pd.concat([train_df,test_df])
spaceship_df

  PassengerId HomePlanet CryoSleep  Cabin  Destination   Age    VIP  \
0     0013_01      Earth      True  G/3/S  TRAPPIST-1e  27.0  False
1     0018_01      Earth     False  F/4/S  TRAPPIST-1e  19.0  False
2     0019_01     Europa      True  C/0/S  55 Cancri e  31.0  False
3     0021_01     Europa     False  C/1/S  TRAPPIST-1e  38.0  False
4     0023_01      Earth     False  F/5/S  TRAPPIST-1e  20.0  False
5     0027_01      Earth     False  F/7/P  TRAPPIST-1e  31.0  False
6     0029_01     Europa      True  B/2/P  55 Cancri e  21.0  False
7     0032_01     Europa      True  D/0/S  TRAPPIST-1e  20.0  False
8     0032_02     Europa      True  D/0/S  55 Cancri e  23.0  False
9     0033_01      Earth     False  F/7/S  55 Cancri e  24.0  False

   RoomService  FoodCourt  ShoppingMall     Spa  VRDeck               Name  \
0          0.0        0.0           0.0     0.0     0.0    Nelly Carsoning
1          0.0        9.0           0.0  2823.0     0.0     Lerome Peckers
2          0.0        0.0           0.0     0.0     0.0    Sabih Unhearfus
3          0.0     6652.0           0.0   181.0   585.0   Meratz Caltilter
4         10.0        0.0         635.0     0.0     0.0    Brence Harperez
5          0.0     1615.0         263.0   113.0    60.0       Karlen Ricks
6          0.0        NaN           0.0     0.0     0.0    Aldah Ainserfle
7          0.0        0.0           0.0     0.0     0.0     Acrabi Pringry
8          0.0        0.0           0.0     0.0     0.0      Dhena Pringry
9          0.0      639.0           0.0     0.0     0.0  Eliana Delazarson

   Transported
0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
###################################
  PassengerId HomePlanet CryoSleep  Cabin    Destination   Age    VIP  \
0     0001_01     Europa     False  B/0/P    TRAPPIST-1e  39.0  False
1     0002_01      Earth     False  F/0/S    TRAPPIST-1e  24.0  False
2     0003_01     Europa     False  A/0/S    TRAPPIST-1e  58.0   True
3     0003_02     Europa     False  A/0/S    TRAPPIST-1e  33.0  False
4     0004_01      Earth     False  F/1/S    TRAPPIST-1e  16.0  False
5     0005_01      Earth     False  F/0/P  PSO J318.5-22  44.0  False
6     0006_01      Earth     False  F/2/S    TRAPPIST-1e  26.0  False
7     0006_02      Earth      True  G/0/S    TRAPPIST-1e  28.0  False
8     0007_01      Earth     False  F/3/S    TRAPPIST-1e  35.0  False
9     0008_01     Europa      True  B/1/P    55 Cancri e  14.0  False

   RoomService  FoodCourt  ShoppingMall     Spa  VRDeck                Name  \
0          0.0        0.0           0.0     0.0     0.0     Maham Ofracculy
1        109.0        9.0          25.0   549.0    44.0        Juanna Vines
2         43.0     3576.0           0.0  6715.0    49.0       Altark Susent
3          0.0     1283.0         371.0  3329.0   193.0        Solam Susent
4        303.0       70.0         151.0   565.0     2.0   Willy Santantines
5          0.0      483.0           0.0   291.0     0.0   Sandie Hinetthews
6         42.0     1539.0           3.0     0.0     0.0  Billex Jacostaffey
7          0.0        0.0           0.0     0.0     NaN  Candra Jacostaffey
8          0.0      785.0          17.0   216.0     0.0       Andona Beston
9          0.0        0.0           0.0     0.0     0.0      Erraiam Flatic

   Transported
0        False
1         True
2        False
3        False
4         True
5         True
6         True
7         True
8         True
9         True

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,False
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,False
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,False
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,False
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,False

In [51]:
spaceship_df.shape[0] == test_df.shape[0] + train_df.shape[0]

True

Dealing with Null values

In [52]:
spaceship_df.fillna(method='ffill', inplace=True)
spaceship_df.isna().sum()

/tmp/ipykernel_197802/3295495988.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  spaceship_df.fillna(method='ffill', inplace=True)
/tmp/ipykernel_197802/3295495988.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  spaceship_df.fillna(method='ffill', inplace=True)

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [53]:
spaceship_df.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,0.0,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

About the Deck column.

Follows format deck/num/side
where  side can be either P->port or S-> starboard.

In [54]:
spaceship_df[["Deck","Num","Side"]] = spaceship_df["Cabin"].str.split("/",expand=True)
spaceship_df = spaceship_df.drop(columns=("Cabin"))

In [55]:
spaceship_df.isna().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
Deck            0
Num             0
Side            0
dtype: int64

Feature engineering

In [56]:
spaceship_df["AmountSpent"] = spaceship_df[["RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"]].sum(axis=1)
spaceship_df["avg_amountSpent"] = spaceship_df[["RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"]].mean(axis=1)
spaceship_df["std_amountSpent"] = spaceship_df[["RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"]].std(axis=1)

spaceship_df = spaceship_df.drop(columns={"RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"})
spaceship_df = spaceship_df.rename(columns={"AmountSpent":"total_amountSpent"})

spaceship_df.isna().sum()

PassengerId          0
HomePlanet           0
CryoSleep            0
Destination          0
Age                  0
VIP                  0
Name                 0
Transported          0
Deck                 0
Num                  0
Side                 0
total_amountSpent    0
avg_amountSpent      0
std_amountSpent      0
dtype: int64

In [57]:
spaceship_df['Deck'] = spaceship_df['Deck'].map({'G' : 0, 'F' : 1, 'E' : 2, 'D' : 3, 'C' : 4, 'B' : 5, 'A' : 6, 'U' : 7, 'T' : 8})
spaceship_df['Side'] = spaceship_df['Side'].map({'U' : -1, 'P' : 1, 'S' : 2})

In [58]:
spaceship_df['HomePlanet'] = spaceship_df['HomePlanet'].fillna('U')
spaceship_df['Destination'] = spaceship_df['Destination'].fillna('U')
category_colls = ['HomePlanet', 'Destination']

for col in category_colls:
    spaceship_df = pd.concat([spaceship_df, pd.get_dummies(spaceship_df[col], prefix = col)], axis = 1)

spaceship_df = spaceship_df.drop(columns = category_colls)

In [59]:
column_order = ["PassengerId","Name","Age","CryoSleep","VIP","Transported","Deck","Num","Side","total_amountSpent","avg_amountSpent","std_amountSpent",
               "HomePlanet_Earth","HomePlanet_Europa","HomePlanet_Mars", "Destination_55 Cancri e","Destination_PSO J318.5-22","Destination_TRAPPIST-1e"]


spaceship_df = spaceship_df[column_order]

In [60]:
spaceship_df = spaceship_df.drop(columns={"Name"})
spaceship_df.isna().sum()

PassengerId                  0
Age                          0
CryoSleep                    0
VIP                          0
Transported                  0
Deck                         0
Num                          0
Side                         0
total_amountSpent            0
avg_amountSpent              0
std_amountSpent              0
HomePlanet_Earth             0
HomePlanet_Europa            0
HomePlanet_Mars              0
Destination_55 Cancri e      0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
dtype: int64

In [61]:
spaceship_df.head(10)

,PassengerId,Age,CryoSleep,VIP,Transported,Deck,Num,Side,total_amountSpent,avg_amountSpent,std_amountSpent,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,39.0,False,False,False,5,0,1,0.0,0.0,0.000000,False,True,False,False,False,True
1,0002_01,24.0,False,False,True,1,0,2,736.0,147.2,227.807375,True,False,False,False,False,True
2,0003_01,58.0,False,True,False,6,0,2,10383.0,2076.6,3013.383198,False,True,False,False,False,True
3,0003_02,33.0,False,False,False,6,0,2,5176.0,1035.2,1373.410427,False,True,False,False,False,True
4,0004_01,16.0,False,False,True,1,1,2,1091.0,218.2,223.988169,True,False,False,False,False,True
5,0005_01,44.0,False,False,True,1,0,1,774.0,154.8,222.572909,True,False,False,False,True,False
6,0006_01,26.0,False,False,True,1,2,2,1584.0,316.8,683.462289,True,False,False,False,False,True
7,0006_02,28.0,True,False,True,0,0,2,0.0,0.0,0.000000,True,False,False,False,False,True
8,0007_01,35.0,False,False,True,1,3,2,1018.0,203.6,337.603762,True,False,False,False,False,True
9,0008_01,14.0,True,False,True,5,1,1,0.0,0.0,0.000000,False,True,False,True,False,False

In [62]:
spaceship_df["high_corrs"] = spaceship_df["CryoSleep"] + spaceship_df["HomePlanet_Europa"] + spaceship_df["Deck"]
spaceship_df["low_corrs"] = spaceship_df["avg_amountSpent"] + spaceship_df["HomePlanet_Earth"] + spaceship_df["Age"]

In [63]:
spaceship_df.corr()["Transported"].sort_values(ascending=False)

Transported                  1.000000
CryoSleep                    0.316793
high_corrs                   0.143681
HomePlanet_Europa            0.134490
Deck                         0.086669
Destination_55 Cancri e      0.084476
Side                         0.073645
PassengerId                  0.014628
HomePlanet_Mars              0.005910
Destination_PSO J318.5-22    0.000499
VIP                         -0.015579
Num                         -0.039560
Age                         -0.050102
Destination_TRAPPIST-1e     -0.075036
std_amountSpent             -0.118527
HomePlanet_Earth            -0.121193
total_amountSpent           -0.138796
avg_amountSpent             -0.138796
low_corrs                   -0.139548
Name: Transported, dtype: float64

In [64]:
df_train, df_test = spaceship_df[:train_df.shape[0]], spaceship_df[train_df.shape[0]:]
df_test = df_test.drop(columns = 'Transported')
df_train.shape, df_test.shape

((8693, 19), (4277, 18))

In [65]:
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [66]:
X = df_train.drop(columns = 'Transported')
y = df_train['Transported']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

model_1 = LogisticRegression()
model_2 = DecisionTreeClassifier()
model_3 = RandomForestClassifier()
model_4 = XGBClassifier()
model_5 = LGBMClassifier()

In [67]:
model_1.fit(X_train, y_train)
pred = model_1.predict(X_test)
accuracy_score(y_test, pred)

/home/lenny/kaggle/titanic-dataset/venv/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6814261069580219

In [68]:
model_2.fit(X_train, y_train)
pred = model_2.predict(X_test)
accuracy_score(y_test, pred)

0.6923519263944796

In [69]:
model_3.fit(X_train, y_train)
pred = model_3.predict(X_test)
accuracy_score(y_test, pred)

0.7435307648073606

In [72]:
df_dummy = pd.read_csv('test.csv')
pred = model_3.predict(df_test)

final = pd.DataFrame()
final['PassengerId'] = df_dummy['PassengerId']
final['Transported'] = pred

final.to_csv('submission.csv', index = False)